@model Escuela.Dominio.Enrollment
 
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>ComboBox</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    
</head>
<body>
    @using (Html.BeginForm("getinformationcbb", "Home", FormMethod.Get))
    {
        @*<form action="" method="post">


        </form>*@

        @Html.DropDownListFor(b => b.CourseId, new SelectList(ViewBag.estadolistcourse, "Value", "Text"), "Select a course", new { @class = "form-control" })
        <br />
        @Html.DropDownListFor(a => a.StudentId, new SelectList(ViewBag.estadoliststudent,"Value","Text"), "Select a students", new { @class = "form-control"})

        <input type="submit" />

    }



</body>
</html>

